
/* DANGER EN HEXADECIMAL #d9534f */

body {
    font-family: monospace, sans-serif;
}
/* NAV */
.header {
    height: 100px;
}
li {
    color: white;
   font-size: 25px;
}
li:hover {
    color: #d9534f;
}
a {
    color: black;
}
a:visited {
    color: black;
}

/* PAGE CONNEXION */
.center {
    width: 30%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}
input {
    caret-color: red;
    border-radius: 5px;
    height: 45px;
    width: 75%;
    margin-bottom: 20px;
    padding-left: 10px;
    box-shadow: 2px 2px 2px 2px grey;
}

/* PAGE INTERVENTION / EMPLOYE */
.ajouter {
    font-size: 40px;
}

/* PAGE AJOUTER INTERVENTION */
.ajout-intervention {
    width: 30px;
}

